button {
  background-color: rgb(92, 131, 236);
  cursor: pointer;
  border: none;
  height: 2rem
}

p {
  margin: 5px;
}

.spinner-container {
  height: 200px;
  width: 200px;
  background-color: lightblue;
}