.list_scroll {
    display: flex;
    padding: 0 55px;
}

.list_title{
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 5vw;
}

.MovieTile {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.list_scroll:hover .MovieTile {
  transform: translateX(-50px);
  transition: transform 1s ;
}

.MovieTile:hover {
  transform: translateX(25%);
  transform: scale(1.5) !important;
  transition: transform 1s;
  z-index: 10;
}

.MovieTile:hover ~ .MovieTile {
  transform: translateX(50px);
}