.list_scroll{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  padding-left: 5vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.list_scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.list_title{
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 5vw;
}
