.MovieTile {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
}

/* .MovieTile:hover {
  transform: translateX(-25%);
} */

.MovieTile:hover {
  transform: scale(1.5) !important;
  transition: transform 1s ease;
}

.MovieTile:hover ~ .MovieTile {
  transform: translateX(100px);
  transition: transform 1s ease;
}