@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
body {
  background: black;
  font-family: 'Readex Pro', sans-serif;
  color: white
}

.App {
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
  margin: 1vh;
}